main {
  min-height: 80vh;
}
a {
  text-decoration: unset;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
.rating span {
  margin: 0.5rem 0;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;

  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/*Fix size img create product*/

@media only screen and (max-width: 576px) {
  .card-img-top {
    width: 100%;
    height: 60vw;
    object-fit: cover;
  }
}
@media only screen and (min-width: 768px) {
  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
}
@media only screen and (min-width: 992px) {
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}
